$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


$blue: #264065;
$white: #FFFFFF;
$grey: #909090;
$black: #070D15;
$grey-background-color: #FAF8F5;
$light-green-background-color: #A9D6CB;
