body {
    background-image: url("/img/woman.png"), url("/img/background_principal.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 87%, 118% 83%;
    background-position: 130px 25px, -225px 0px;
    
}